body {
    --pb-menubar-background-color: #9E6848;
    --pb-content-font-family: var(--pb-base-font-family);
    hyphens: auto;
}

main {
    margin: 0 20px 0 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", Verdana, "Helvetica", sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

.title {
    font-family: "Quicksand", Verdana, "Helvetica", sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin-right: 10px;
    min-width: 140px;
}

.tp-title {
    /* text-shadow: 6px -1px 12px #4e4d4d; */
    font-family: "Quicksand", Verdana, "Helvetica", sans-serif;
    color: #806C61;
    font-size: 96px;
    font-weight: 500;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 920px;
}

[condensed-title] {
    font-family: "Quicksand", Verdana, "Helvetica", sans-serif;
    font-size: 28px;
    font-weight: 400;
    flex: 0 0;
    min-width: 160px;
}

pb-markdown {
    font-size: var(--pb-content-font-size);
}

@media (max-width: 1023px) {
    main {
        margin: 0 8px 0 8px;
        --pb-content-font-size: var(--pb-base-font-size);
    }
    .tp-title {
        font-size: 36px;
        width: auto;
        text-align: center;
    }
}

pb-view, .upload, pb-markdown {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f0f0f0;
}

.splash .tp-title {
    width: auto;
}

.menubar {
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

@media (max-width: 1023px) {
    .menu-items {
        display: none;
    }
}

#drawer-toggle {
    position: absolute;
    right: 10px;
}

@media (min-width: 1024px) {
    #drawer-toggle {
        display: none;
    }
}

.menubar a {
    display: inline-block;
}

.drawer-content ul {
    list-style: none;
    padding-left: 0;
}

.drawer-content a {
    display: block;
    margin-bottom: 10px;
}